@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html {
  scroll-behavior: smooth;
}

/* LIGHT THEME */
:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

/* DARK THEME */
.dark {
  --background: 10 10 10;
  --foreground: 255 255 255;
}

/* APPLY THEME */
@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
